/**
 * @file
 * W3CSS Paragraphs Three Columns.
 *
 * Filename:     w3css-paragraphs-three-columns.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.p-container-inner .w3-three-columns > .w3-col > .w3css--err {
  display: flex;
}

.p-container-inner .w3-three-columns > .w3-col > .w3css--err > div {
  flex-grow: 1;
}

.p-container-inner .w3-three-columns > .w3-col > .w3css--err > .p-container {
  height: 100%;
  margin: 0;
}

@media (max-width:992px) {
  .p-container-inner .w3-three-columns > div:nth-last-child(2) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

@media (min-width:993px) {
  .p-container-inner .w3-three-columns {
    display: flex;
  }

}
