/**
 * @file
 * Provides Layout Builder modal utilities.
 *
 * May God forgive our sins and souls, and make our lives easier ever after.
 * @see https://www.drupal.org/node/3305664
 */

/* csslint ignore:start */
/* Need more room for layout previews. */
body[data-gs-region] .page-wrapper {
  max-width: 100%;
}

body[data-gs-region] .dialog-off-canvas-main-canvas {
  padding-right: 0 !important;
}

.ui-dialog-off-canvas .form-wrapper--gs * {
  box-sizing: border-box !important;
}

.form-wrapper--icon img,
.ui-dialog-off-canvas .form-wrapper--gs img,
.ui-dialog-off-canvas .form-wrapper--icon img {
  max-width: 100% !important;
  height: auto !important;
}

.ui-dialog-off-canvas .item-list--icon li {
  max-width: 480px;
}

.ui-dialog-off-canvas .form-wrapper--icon li {
  display: inline-block !important;
  max-width: 48%;
  margin: 2px;
  vertical-align: top;
  font-size: small;
}

.ui-dialog-off-canvas .form-wrapper--help .item-list ul {
  margin: 1em 0;
  padding: 0;
  font-size: small;
}

.ui-dialog-off-canvas .form-wrapper--help .item-list li {
  padding: 5px 0;
  border-bottom: 1px solid #555;
}

.ui-dialog-off-canvas .form-wrapper--media {
  position: relative;
  max-width: 480px;
  min-height: 44px;
  margin: 10px auto;
  padding: 0;
}

/* We have small estate, needs to look compact. */
.ui-dialog-off-canvas .form-wrapper--media input[type="submit"].js-media-library-open-button {
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;
  width: auto;
  height: 32px;
  margin: 0;
  padding: 5px 15px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.8);
}

.ui-dialog-off-canvas .form-wrapper--media .media-library-selection {
  margin: auto; /* Prevents unwanted margins when empty. */
}

.ui-dialog-off-canvas .ig-gs-media-empty input[type="submit"].js-media-library-open-button {
  left: 0;
  width: 100%;
  background: #111;
}

.ui-dialog-off-canvas .form-wrapper--gs[open] {
  border: 4px solid #333;
}

.ui-dialog-off-canvas .form-wrapper--gs.is-gs-main-settings[open] {
  border-color: #37a1ff;
}

.ui-dialog-off-canvas .form-wrapper--gs .media-library-item__attributes {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 0;
  text-align: center;
  border: 1px solid #fff;
  border-top: 0;
  background: rgba(0, 0, 0, 0.8);
}

.ui-dialog-off-canvas .media-library-widget-modal .media-library-item--grid,
.ui-dialog-off-canvas .media-library-selection .media-library-item--grid {
  width: 100%;
  padding: 0;
}

.ui-dialog-off-canvas .form-wrapper--gs .media-library-item__name {
  margin: 0;
  padding: 5px;
  background: none;
}

.form-wrapper--gs .media-library-item__preview {
  position: relative !important;
  overflow: hidden !important;
  max-height: 100px !important;
}

.ui-dialog-off-canvas .form-wrapper--media img {
  display: block !important;
  width: 100% !important;
  margin: auto;
  object-fit: cover;
  border: 1px solid #fff;
}

.ui-dialog-off-canvas .layout-selection img {
  max-width: 100% !important;
}

.form-wrapper--media .form-wrapper--media__item {
  position: relative;
}

.ui-dialog-off-canvas .form-wrapper--media .form-submit--gs-add-replace {
  color: #fff;
}

.ui-dialog-off-canvas .form-wrapper--media input[type="submit"].form-submit--gs-remove {
  position: absolute;
  z-index: 3;
  top: 2px;
  right: 2px;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 8px;
}

.ui-dialog-off-canvas .form-wrapper--bg .form-item,
.ui-dialog-off-canvas .form-wrapper--preview .form-item {
  padding: 5px !important;
  color: #ddd;
}

.form-wrapper--preview .form-item:not([class*="rounded"]) {
  border-radius: 5px !important;
}

.form-wrapper--preview .form-item.rounded-circle {
  width: 100px !important;
  height: 100px !important;
}

.ui-dialog-off-canvas .form-wrapper--preview .form-item label {
  color: inherit;
  background: none !important;
}

.ui-dialog-off-canvas .form-wrapper--bg .form-item {
  background-color: #000;
}

.ui-dialog-off-canvas .form-wrapper--gs .js-form-type-color {
  display: inline-block !important;
  width: 32% !important;
  vertical-align: top;
}

.ui-dialog-off-canvas form code {
  color: #fff;
}

.ui-dialog-off-canvas .form-wrapper--gs .form-range {
  width: 90% !important;
  height: 2px !important;
  background: #eee !important;
}

.ui-dialog-off-canvas .form-wrapper--gs .js-form-type-range .field-prefix {
  float: right !important;
  width: 42px !important;
  height: 16px !important;
  padding: 2px;
  text-align: center !important;
  font-size: 10px !important;
}

.ui-dialog-off-canvas .form-wrapper--gs .js-form-type-range .messages {
  display: none !important;
  padding: 5px 10px;
  text-align: center !important;
  background-image: none;
}

.ui-dialog-off-canvas .form-wrapper--color-palettes .item-list {
  margin: 15px auto;
}

.ui-dialog-off-canvas .form-wrapper--color-palettes .form-item {
  display: inline !important;
}

.ui-dialog-off-canvas .form-wrapper--color-palettes .gs-color {
  position: relative;
  display: inline-block !important;
  overflow: hidden;
  width: 24px !important;
  height: 24px !important;
  margin: 1px;
  padding: 2px;
  vertical-align: top;
  color: transparent !important;
  font-size: 0 !important;
}

.ui-dialog-off-canvas .js-form-item input.form-color--gs-color {
  width: 100% !important;
  height: 28px !important;
  padding: 0 !important;
}

.ui-dialog-off-canvas .form-wrapper--color-palettes h3 {
  font-size: small;
}

.ui-dialog-off-canvas .form-wrapper--styles .js-form-type-range {
  display: inline-block !important;
  width: 48% !important;
  vertical-align: top;
}

.ui-dialog-off-canvas .form-checkboxes .field-prefix {
  display: block !important;
  margin: 30px 0 10px !important;
}

.ui-dialog-off-canvas .form-wrapper--preset-classes .details-wrapper {
  margin: 1em 0 !important;
  padding: 0 !important;
}

.ui-dialog-off-canvas .form-item--resimage label,
.ui-dialog-off-canvas .form-item--resimage select {
  display: inline-block !important;
  vertical-align: top;
}

.ui-dialog-off-canvas .form-item--resimage select {
  width: 110px !important;
  margin-top: 0;
  margin-left: 15px !important;
}

.ui-dialog-off-canvas .is-gs-fieldset > legend {
  padding: 0;
}

.ui-dialog-off-canvas .is-gs-fieldset > legend,
.ui-dialog-off-canvas .is-gs-fieldset > legend span {
  display: block !important;
  box-sizing: border-box;
  width: 100% !important;
  max-width: 100% !important;
  font-size: small;
}

.ui-dialog-off-canvas .is-gs-fieldset > legend span {
  padding: 8px !important;
  color: #fff;
  border-radius: 4px !important;
  background: #007bff !important;
}

.ui-dialog-off-canvas .is-gs-fieldset.is-collapsed > legend,
.ui-dialog-off-canvas .is-gs-fieldset.is-collapsed > legend span {
  margin: 0;
}

.is-gs-fieldset.is-collapsible > div,
.ui-dialog-off-canvas .is-gs-fieldset.is-collapsible > div {
  padding: 5px;
}

/* Olivero. */
.is-gs-fieldset.is-collapsed > div,
.ui-dialog-off-canvas .is-gs-fieldset.is-collapsed > div {
  display: none !important;
}

.ui-dialog-off-canvas .is-gs-fieldset label {
  font-weight: 400;
}

.ui-dialog-off-canvas details > div:not(.olivero-details__wrapper),
.ui-dialog-off-canvas details .details-wrapper:not(.olivero-details__wrapper) {
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .ui-dialog-off-canvas .form-wrapper--color-palettes--offset .details-description {
    font-size: 0 !important;
  }

  .ui-dialog-off-canvas .form-wrapper--color-palettes--offset {
    position: fixed !important;
    top: 40px !important;
    left: 15px !important;
    width: 172px !important;
  }

  .ui-dialog-off-canvas .form-wrapper--color-palettes--bottom {
    top: auto !important;
    bottom: 0 !important;
  }

  .ui-dialog-off-canvas .form-wrapper--preset-classes fieldset {
    display: block !important;
    width: 100% !important;
    height: auto;
    margin: 1em 0 !important;
    font-size: small;
  }

  .ui-dialog-off-canvas .form-wrapper--preset-classes .form-boolean-group {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 32px;
    grid-gap: 5px;
    align-content: space-evenly;
    justify-items: center;
  }

  .ui-dialog-off-canvas .form-wrapper--preset-classes .form-type-boolean {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 5px !important;
  }
}

/* csslint ignore:end */
