// Default Settings

// Foundation for Sites Settings
// -----------------------------
// Hint: To use the A N C H O R comments, install "comment-anchors" for VSCODE
@import "node_modules/foundation-sites/scss/util/util";

// ----------------------------------------------------
// ANCHOR Global
// ----------------------------------------------------

// Disable annoying contrast warnings in the console
$contrast-warnings: false;

// ============ Colors =============
$white: #fff;
$black: #0e0e0e;
$primary-color-text: $white;
$secondary-color-text: $white;
$light-color: $white; // Text color on dark backgrounds
$dark-color: $black; // Text color on light backgrounds

$light-gray: #f3f4f5;
$light-grey: $light-gray; // Custom: Synonym
$gray-light: $light-gray; // Custom: Synonym
$grey-light: $light-gray; // Custom: Synonym
$medium-gray: #e1e3e5;
$grey-medium: $medium-gray; // Custom: Synonym
$grey: $medium-gray; // Custom: Synonym
$gray: $medium-gray; // Custom: Synonym
$dark-gray: #c7cacd;
$dark-gray: $dark-gray;
$gray-dark: $dark-gray;
$grey-dark: $dark-gray; // Custom: Synonym
$darker-gray: darken($grey-dark, 35%); // Custom
$gray-darker: $darker-gray; // Custom: Synonym
$grey-darker: $darker-gray; // Custom: Synonym

$black-glass: rgba($black, 0.7);
$black-glass-light: rgba($black, 0.35);
$black-glass-dark: rgba($black, 0.9);
$white-glass: rgba($white, 0.7);
$white-glass-light: rgba($white, 0.45);

$transparent: rgba(255, 255, 255, 0);
// https://sass-lang.com/documentation/functions/color#adjust-color
// TOOD: The generated colors are still.. not ..very nice in some cases
$primary-color: #2e90d0 !default; // #1779ba / #007c37
$secondary-color: complement($primary-color) !default;

$red-hue: hue(#ff0000);
$orange-hue: hue(#ffae00);
$green-hue: hue(#00ff00);
$blue-hue: hue(#00aeff);
$primary-hue: hue($primary-color);

$foundation-palette: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "success": change-color($primary-color, $hue: $green-hue, $saturation: 50%),
  // #3adb76
  "warning": change-color($primary-color, $hue: $orange-hue, $saturation: 80%),
  // #ffae00
  "alert": change-color($primary-color, $hue: $red-hue, $saturation: 60%),
  // #cc4b37
  "info": change-color($primary-color, $hue: $blue-hue, $saturation: 60%),
  // d7f2f6
  "white": $white,
  // *
  "black": $black,
  // *
  "grey-dark": $grey-dark,
  // *
  "grey-light": $grey-light,
  // *
  "grey": $grey,
  // *
  "light": $white,
  // Light default sheme none transp. *
  "dark": $grey-darker,
  // Dark default sheme none transp. *
  "light-glass": $white-glass,
  // Light default sheme transp. *
  "dark-glass": $black-glass,
  // Dark default sheme transp. *
  "text-color": $black // *,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);
// * = Important values, used for the DROWL modules - removing it will probably cause unstyled components.
@include add-foundation-colors();

$warning-color-lighter: lighten($warning-color, 8%);
$success-color-lighter: lighten($success-color, 8%);

$primary-color-dark: darken($primary-color, 15%);
$secondary-color-dark: darken($secondary-color, 15%);

// Social Media Colors
$facebook-color: #3b5998;
$pinterest-color: #cb2027;
$gplus-color: #dd4b39;
$twitter-color: #55acee;
$youtube-color: #ff0000;
$linkedin-color: #007bb5;
$instagram-color: #e95950;
$whatsapp-color: #4dc247;

// ============ Fonts =============
$global-font-size: 112%;
$global-font-size-small-devices: 100%;
$global-font-size-breakpoint: small down;
$global-font-size-small-px: 12px;
$global-font-size-small: rem-calc($global-font-size-small-px);
$global-font-size-medium: 0.9rem;
$global-font-size-large: 1.25rem;
$global-font-size-px: 18px;
$global-width-px: 1200;
$global-width: decimal-round(rem-calc($global-width-px));
$global-lineheight: 1.5;
$global-lineheight-small: 1.25;

$body-font-family-name: "Roboto";
$body-font-family-name-escaped: str-replace($body-font-family-name, " ", "+");
$body-font-family: $body-font-family-name, Helvetica, Arial, sans-serif;
$body-antialiased: true;
$global-weight-normal: 300;
$font-weight-normal: $global-weight-normal; // Custom: Synonym
$global-weight-bold: 500;
$font-weight-bold: $global-weight-bold; // Custom: Synonym

// Font Import
// Use: https://google-webfonts-helper.herokuapp.com - store fonts localy (GDPR / DSGVO!)

// ============ Page Settings =============
$body-background: $light-gray;
$body-font-color: get-color("text-color");
$text-color: $body-font-color; // Custom: Synonym
$info-color: get-color("info");

$global-radius: 6px;
$border-radius: $global-radius; // Custom: Synonym
$global-radius-small: 3px; // Custom
$global-menu-padding-v: 0.7em; // Custom
$global-menu-padding-h: 1em; // Custom
$global-menu-padding: $global-menu-padding-v $global-menu-padding-h;
$global-menu-nested-margin: 1rem;
$global-text-direction: ltr;

$flex: true; // custom: moved from drowl_base / foundation.scss - sets the parameter for the founcation-everything mixin
$prototype: false;
$global-flexbox: true;
$global-prototype-breakpoints: false;
$global-button-cursor: auto;
$global-color-pick-contrast-tolerance: 6; // Tend 'a little' more to white then black, cause black looks really ugly on most bgs.
$contrast-warnings: false;
$print-transparent-backgrounds: true;
$muted: lighten($text-color, 35%);
$primary-color-text: color-pick-contrast($primary-color, ($white, $black));

$shadow-intensity: rgba(0, 0, 0, 0.25);
$shadow: 1px 1px 5px $shadow-intensity;
$shadow-small: $shadow;
$shadow-large: 0 3px 115px $shadow-intensity;

$shadow-active: 0 0 5px $primary-color;

$text-shadow: 1px 1px 1px $shadow-intensity;

// define default link color - Important: Don't start to override this by context (eg. .box-style a{ ... }), those selectors are to specific and will override accordion links.. buttons, etc.
$link-color: currentColor;
$link-with-underline: true;
$link-underline-color: rgba(0, 0, 0, 0.25);

// ----------------------------------------------------
// ANCHOR Breakpoints
// ----------------------------------------------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1025px,
  xlarge: 1367px,
  xxlarge: 1921px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge);

// ----------------------------------------------------
// ANCHOR Grid
// ----------------------------------------------------

$tile-grid-space: 6px; // "Masonry" Grid

$thin-grid: 1rem;
$thin-grid-px: $global-font-size-px;

$grid-gutter: 30px;
$grid-gutter-small: 20px;
$grid-gutter-half: ceil($grid-gutter * 0.5);
$half-grid: $grid-gutter-half; // Custom: Synonym

// Default spacings (h & v)
// Hint: NEVER use this px values in your (s)css code directly.
//       It's just for rem-calc in the settings file.
$space-xxs-px: ceil($grid-gutter * 0.125);
$space-xs-px: ceil($grid-gutter * 0.25);
$space-sm-px: ceil($grid-gutter * 0.5);
$space-md-px: $grid-gutter;
$space-lg-px: ceil($grid-gutter * 1.5);
$space-xl-px: ceil($grid-gutter * 3);
$space-xxl-px: ceil($grid-gutter * 4);

// TODO: Replace the following two blocks with the $spaces maps beyond
// TODO: Also consider to reduce the amount of sizes (especially XXS & XS seem pretty senseless => we need to remove those sizes from drowl paragraphs also)

$space-xxs: ceil(rem-calc($space-xxs-px));
$space-xs: ceil(rem-calc($space-xs-px));
$space-sm: ceil(rem-calc($space-sm-px));
$space-md: ceil(rem-calc($space-md-px));
$space-lg: ceil(rem-calc($space-lg-px));
$space-xl: ceil(rem-calc($space-xl-px));
$space-xxl: ceil(rem-calc($space-xxl-px));

$space-xxs-v: $space-xxs;
$space-xxs-h: $space-xxs;
$space-xs-v: $space-xs;
$space-xs-h: $space-xs;
$space-sm-v: $space-sm;
$space-sm-h: $space-sm;
$space-md-v: $space-md;
$space-md-h: $space-md;
$space-lg-v: $space-lg;
$space-lg-h: $space-lg;
$space-xl-v: $space-xl;
$space-xl-h: $space-xl;
$space-xxl-v: $space-xxl;
$space-xxl-h: $space-xxl;

$spaces: (
  xxs: $space-xxs,
  xs: $space-xs,
  sm: $space-sm,
  md: $space-md,
  lg: $space-lg,
  xl: $space-xl,
  xxl: $space-xxl,
);
$spaces-h: (
  xxs: $space-xxs-h,
  xs: $space-xs-h,
  sm: $space-sm-h,
  md: $space-md-h,
  lg: $space-lg-h,
  xl: $space-xl-h,
  xxl: $space-xxl-h,
);
$spaces-v: (
  xxs: $space-xxs-v,
  xs: $space-xs-v,
  sm: $space-sm-v,
  md: $space-md-v,
  lg: $space-lg-v,
  xl: $space-xl-v,
  xxl: $space-xxl-v,
);

$global-margin: $space-md;
$global-padding: $space-md;
$global-position: $space-md;

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: $grid-gutter-small,
  medium: $grid-gutter,
);
$grid-column-align-edge: true;
$grid-column-alias: "columns";
$block-grid-max: 8;

// Xy Grid
$xy-grid: true;
$grid-container: $global-width;
$grid-columns: 12;
$grid-margin-gutters: (
  small: $grid-gutter-small,
  medium: $grid-gutter,
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $global-width;
$xy-block-grid-max: 8;

// ----------------------------------------------------
// ANCHOR Typography (Base)
// ----------------------------------------------------

$header-font-family: $body-font-family;
$header-font-weight: $global-weight-bold;
$header-font-style: normal;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$header-color: currentColor; // default is inherit, Important: If you have to override this, do this for just this very specific case. Otherwise we will run into problems with headings eg. inside .box-style
$header-lineheight: 1.4;
$header-margin-bottom: 0.5em;
$subline-font-size: $global-font-size-small;

// Hint: More parameters available, see: https://get.foundation/sites/docs/typography-base.html#header-styles
$header-styles: (
  small: (
    "h1": (
      "font-size": 24,
    ),
    "h2": (
      "font-size": 20,
    ),
    "h3": (
      "font-size": 19,
    ),
    "h4": (
      "font-size": 18,
    ),
    "h5": (
      "font-size": 17,
    ),
    "h6": (
      "font-size": 16,
    ),
  ),
  medium: (
    "h1": (
      "font-size": 38,
    ),
    "h2": (
      "font-size": 28,
    ),
    "h3": (
      "font-size": 24,
    ),
    "h4": (
      "font-size": 22,
    ),
    "h5": (
      "font-size": 20,
    ),
    "h6": (
      "font-size": 16,
    ),
  ),
);
$header-text-rendering: optimizeLegibility;
$paragraph-lineheight: $global-lineheight;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;
$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $light-gray;
$code-border: 1px solid $medium-gray;
$code-padding: rem-calc(2 5 1);
$anchor-color: $body-font-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $medium-gray;
$hr-margin: rem-calc(20) auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: square;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;
$list-checklist-style-icon: "&radic";
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;
$blockquote-color: currentColor;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $medium-gray;
$cite-font-size: rem-calc(13);
$cite-color: currentColor;
$cite-pseudo-content: "\2014 \0020";
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

// ----------------------------------------------------
// ANCHOR Typography Helpers
// ----------------------------------------------------

$lead-font-size: $global-font-size-large;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: 2.5rem;

// ----------------------------------------------------
// ANCHOR Icons
// ----------------------------------------------------

// See https://icomoon.io/ - the current icon .json file is located under fonts/iconfont
$icon-size-xs: 0.5rem;
$icon-size-sm: $global-font-size-small;
$icon-size-md: 1rem;
$icon-size-lg: 2rem;
$icon-size-xl: 4rem;
$icon-size-xxl: 6rem;

$drowl-base-iconfont-family: "drowl-base-ico";
$drowl-base-iconfont: #{"normal normal normal" $icon-size-md "/ 1"
  $drowl-base-iconfont-family};

$admin-iconfont-family: "drowl-admin-ico";
$admin-icomoon-font-path: "../fonts/ico-admin-ico/fonts"; // file path relative to the css folder - overrides the default variable in the ico/variables

// We need to define a iconfont which provides the very basic icons (arrows, etc.)
// If the Child theme wont deliver all those icons, leave this on $drowl-base-iconfont-family to use the base themes iconfont.
// Remember to also override the single icon-variables itself (eg. $search-form-icon - see drowl-sass-base default variables
$basics-frontend-iconfont-family: $admin-iconfont-family;

$ico-theme-collapsed-vertical: $drowl-admin-ico-chevron-down;
$ico-theme-expanded-vertical: $drowl-admin-ico-chevron-up;
$ico-theme-prev-arrow: $drowl-admin-ico-chevron-left;
$ico-theme-next-arrow: $drowl-admin-ico-chevron-right;
$ico-theme-refresh: $drowl-admin-ico-refresh;
$ico-theme-check: $drowl-admin-ico-check;

// ----------------------------------------------------
// ANCHOR Abide
// ----------------------------------------------------

$abide-inputs: true;
$abide-labels: true;
$input-background-invalid: get-color(alert);
$form-label-color-invalid: get-color(alert);
$input-error-color: get-color(alert);
$input-error-font-size: rem-calc(12);
$input-error-font-weight: $global-weight-bold;

// ----------------------------------------------------
// ANCHOR Accordion
// ----------------------------------------------------

$accordion-background: $white;
$accordion-plusminus: true;
$accordion-title-font-size: $global-font-size-px;
$accordion-item-color: $text-color;
$accordion-item-background: $grey-light;
$accordion-item-background-hover: $primary-color;
$accordion-item-color-hover: $primary-color-text;
$accordion-item-background-active: $accordion-item-background-hover;
$accordion-item-color-active: $accordion-item-color-hover;
$accordion-item-padding: 1.25rem 1rem;
$accordion-content-background: $white;
$accordion-content-border: 1px solid $light-gray;
$accordion-content-color: $body-font-color;
$accordion-content-padding: 1rem;

// ----------------------------------------------------
// ANCHOR Accordion Menu
// ----------------------------------------------------

$accordionmenu-padding: $global-menu-padding;
$accordionmenu-nested-margin: $global-menu-nested-margin;
$accordionmenu-submenu-padding: $accordionmenu-padding;
$accordionmenu-arrows: true;
$accordionmenu-arrow-color: $primary-color;
$accordionmenu-item-background: null;
$accordionmenu-border: null;
$accordionmenu-submenu-toggle-background: null;
$accordion-submenu-toggle-border: $accordionmenu-border;
$accordionmenu-submenu-toggle-width: 40px;
$accordionmenu-submenu-toggle-height: $accordionmenu-submenu-toggle-width;
$accordionmenu-arrow-size: 6px;

// ----------------------------------------------------
// ANCHOR Badges
// ----------------------------------------------------

$badge-background: $primary-color;
$badge-color: $white;
$badge-color-alt: $black;
$badge-palette: $foundation-palette;
$badge-padding: 0.3em;
$badge-minwidth: 2.1em;
$badge-font-size: 0.6rem;

// ----------------------------------------------------
// ANCHOR Breadcrumbs
// ----------------------------------------------------

$breadcrumbs-margin: 0 0 $global-margin 0;
$breadcrumbs-item-font-size: $global-font-size-small;
$breadcrumbs-item-color: $muted;
$breadcrumbs-item-color-current: $text-color;
$breadcrumbs-item-color-disabled: $medium-gray;
$breadcrumbs-item-margin: 0.5em;
$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-separator: true;
$breadcrumbs-item-separator-item: ">";
$breadcrumbs-item-separator-item-rtl: "<";
$breadcrumbs-item-separator-color: $medium-gray;

// ----------------------------------------------------
// ANCHOR Buttons
// ----------------------------------------------------

$button-font-family: inherit;
$button-font-weight: $global-weight-normal;
$button-padding: 0.85em 1em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: +15%);
// Hint: To give all buttons the same color text, set $button-color and $button-color-alt to the same value.
$button-color: $white;
$button-color-alt: rgba(0, 0, 0, 0.75);
$button-radius: $global-radius-small;
$button-hollow-border-width: 1px;
$button-sizes: (
  xxs: 0.35rem,
  xs: 0.6rem,
  sm: 0.75rem,
  default: $global-font-size-medium,
  // was 'md' before
  lg: 1.25rem,
  xl: 1.85rem,
  xxl: 2.25rem,
);
$button-palette: $foundation-palette;
// $button-palette: (
//   "primary": #2e90d0,
//   "secondary": #767676,
//   "info": #5bc0de,
//   "success": #5cb85c,
//   "warning": #f0ad4e,
//   "alert": #d9534f,
// );
$button-opacity-disabled: 0.25;
$button-background-hover-lightness: -20%;
$button-hollow-hover-lightness: +8%;
$button-transition: background-color 0.25s ease-out, color 0.25s ease-out;

// ----------------------------------------------------
// ANCHOR Button Groups
// ----------------------------------------------------

$buttongroup-margin: 1rem;
$buttongroup-spacing: 1px;
$buttongroup-child-selector: ".button";
$buttongroup-expand-max: 6;
$buttongroup-radius-on-each: false;

// ----------------------------------------------------
// ANCHOR Callouts
// ----------------------------------------------------

$callout-background: $white;
$callout-background-fade: 95%;
$callout-border: 1px solid rgba($black, 0.065);
$callout-margin: 0 0 1rem 0;
$callout-padding: 1rem 2rem;
$callout-font-size: 1rem;
$callout-font-color: $body-font-color;
$callout-font-color-alt: $body-background;
$callout-radius: $global-radius;
$callout-link-tint: 30%;
$callout-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);

// ----------------------------------------------------
// ANCHOR Cards & Tiles
// ----------------------------------------------------

$card-background: $white;
$card-tile-overlay: $black-glass;
$card-tile-overlay-text: $white;
$card-tile-overlay-muted: rgba($card-tile-overlay-text, 0.7);
$card-font-color: $body-font-color;
$card-divider-background: $light-gray;
$card-border: 0 none;
$card-shadow: none;
$card-border-radius: $global-radius;
$card-padding: $global-padding;

// ----------------------------------------------------
// ANCHOR Close Button
// ----------------------------------------------------

$closebutton-position: right top;
$closebutton-offset-horizontal: (
  small: 0.33rem,
  medium: 0.5rem,
);
$closebutton-offset-vertical: (
  small: 0.33em,
  medium: 0.5rem,
);
$closebutton-size: (
  small: 1.5em,
  medium: 2em,
);
$closebutton-lineheight: 1;
$closebutton-color: $dark-gray;
$closebutton-color-hover: $black;

// ----------------------------------------------------
// ANCHOR Drilldown Menus
// ----------------------------------------------------

$drilldown-transition: transform 0.15s linear;
$drilldown-arrows: false;
$drilldown-arrow-color: $primary-color;
$drilldown-arrow-size: 6px;

// We use arrows from our iconfont instead of the default foundation css triangles.
$drilldown-ico-arrows: true;
// Icons are set right in the themes & modules (because they all have its own iconset with different classes)
// $drilldown-ico-size: $icon-size-xs;
// $drilldown-ico-up: $drowl-admin-ico-chevron-up;
// $drilldown-ico-down: $drowl-admin-ico-chevron-down;
// $drilldown-ico-left: $drowl-admin-ico-chevron-left;
// $drilldown-ico-right: $drowl-admin-ico-chevron-right;

$drilldown-padding: $global-menu-padding;
$drilldown-nested-margin: 0;
$drilldown-background: transparent;
$drilldown-submenu-padding: $drilldown-padding;
$drilldown-submenu-background: $light-gray; // This need to have a bg color!

// ----------------------------------------------------
// ANCHOR Dropdowns
// ----------------------------------------------------

$dropdown-padding: 1rem;
$dropdown-background: $grey-light;
$dropdown-color: $text-color;
$dropdown-border: 1px solid $grey-light;
$dropdown-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.25);
$dropdown-font-size: 1rem;
$dropdown-width: 300px;
$dropdown-radius: 0 0 $global-radius $global-radius;
$dropdown-sizes: (
  tiny: 100px,
  small: 200px,
  large: 400px,
);

// ----------------------------------------------------
// ANCHOR Dropdown Menus
// ----------------------------------------------------

// We use arrows from our iconfont instead of those css triangles.
$dropdownmenu-arrows: false;
$dropdownmenu-arrow-color: $anchor-color;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-arrow-padding: 1.5rem;

$dropdownmenu-ico-arrows: true;
$dropdownmenu-ico-size: $icon-size-xs;
// Icons are set right in the themes & modules (because they all have its own iconset with different classes)
// $dropdownmenu-ico-up: $drowl-admin-ico-chevron-up;
// $dropdownmenu-ico-down: $drowl-admin-ico-chevron-down;
// $dropdownmenu-ico-left: $drowl-admin-ico-chevron-left;
// $dropdownmenu-ico-right: $drowl-admin-ico-chevron-right;

$dropdownmenu-min-width: 300px;
$dropdownmenu-background: $dropdown-background; // used for topbar flyouts also (including megamenus)
$dropdownmenu-submenu-background: $dropdownmenu-background;
$dropdownmenu-padding: 0.85em $global-menu-padding-h;
$dropdownmenu-nested-margin: 0;
$dropdownmenu-submenu-padding: $dropdownmenu-padding;
$dropdownmenu-border: 0 none;
$dropdownmenu-shadow: $dropdown-shadow;
$dropdown-menu-item-color-active: get-color(primary);
$dropdown-menu-item-background-active: transparent;

// ----------------------------------------------------
// ANCHOR Flexbox Utilities
// ----------------------------------------------------

$flex-source-ordering-count: 6;
$flexbox-responsive-breakpoints: true;

// ----------------------------------------------------
// ANCHOR Forms
// ----------------------------------------------------

$input-radius: $global-radius-small;
$fieldset-border: 1px solid $medium-gray;
$fieldset-padding: rem-calc(20);
$fieldset-margin: rem-calc(18 0);
$legend-padding: rem-calc(0 3);
$form-spacing: rem-calc(16);
$form-item-spacing: rem-calc(16); // custom drupal
$helptext-color: $black;
$helptext-font-size: $global-font-size-small;
$helptext-font-style: italic;
$input-prefix-color: $black;
$input-prefix-background: $light-gray;
$input-prefix-border: 1px solid $medium-gray;
$input-prefix-padding: 1rem;
$form-label-color: inherit;
$form-label-font-size: $global-font-size-small;
$form-label-font-weight: $global-weight-bold;
$form-label-line-height: 1.8;
$input-color: $body-font-color;
$input-border-color: $medium-gray;
$input-focus-border-color: darken($medium-gray, 8%);
$input-placeholder-color: lighten($text-color, 45%);
$input-font-family: inherit;
$input-font-size: 1rem;
$input-font-weight: $global-weight-normal;
$input-line-height: $global-lineheight;
$input-background: $white; // if set to "transparent" (w/o quotes) form elements are handled like hollow butotns, and the border will be recolored inside box-style
$input-background-focus: $white;
$input-background-disabled: $light-gray;
$input-border: 1px solid $input-border-color;
$input-border-focus: 1px solid $input-focus-border-color;
$input-padding-v: $form-spacing * 0.5;
$input-padding-h: $form-spacing * 0.85;
$input-padding: $input-padding-v $input-padding-h;
$input-shadow: none; // default inset 0 1px 2px rgba($black, .1)
$input-shadow-focus: none;
$input-cursor-disabled: not-allowed;
$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
$input-number-spinners: true;
$form-button-radius: $global-radius-small;
$select-background: $input-background;
$select-triangle-color: $input-color;
$select-radius: $input-radius;

$styled-checkboxes: true;
$styled-checkboxes-size: 20px;

$search-form-icon: $drowl-admin-ico-search;

// ----------------------------------------------------
// ANCHOR Labels
// ----------------------------------------------------

$label-background: $primary-color;
$label-color: $white;
$label-color-alt: $black;
$label-palette: $foundation-palette;
$label-font-size: 0.8rem;
$label-font-weight: $font-weight-bold;
$label-padding: 0.33333rem 0.5rem;
$label-radius: $global-radius;

// ----------------------------------------------------
// ANCHOR Media Objects
// ----------------------------------------------------

$mediaobject-background: $white; // custom!
$mediaobject-margin-bottom: $global-margin;
$mediaobject-section-padding: $global-padding;
$mediaobject-image-width: 30%; // custom!
$mediaobject-image-width-stacked: 100%;
$mediaobject-breakpoint: "medium"; // custom!

// ----------------------------------------------------
// ANCHOR Menus
// ----------------------------------------------------

$menu-margin: 0;
$menu-nested-margin: $global-menu-nested-margin;
$menu-items-padding-v: $global-menu-padding-v;
$menu-items-padding-h: $global-menu-padding-h;
$menu-items-padding: $menu-items-padding-v $global-menu-padding-h;
$menu-simple-margin: 1rem;
$menu-item-color-hover: $primary-color;
$menu-item-color-active: $primary-color;
$menu-item-background-active: transparent;
$menu-item-color-active-trail: $menu-item-color-active;
$menu-item-background-active-trail: $menu-item-background-active;
$menu-item-flex-enhanced: true;
$menu-item-active-trail-weight: $font-weight-bold;
$menu-icon-spacing: 0.25rem;
$menu-item-background-hover: $light-gray;
$menu-state-back-compat: true;
$menu-centered-back-compat: true;
$menu-icons-back-compat: true;

// Megamenus
$megamenu-limit-flyout-width: false; // custom
$megamenu-flyout-width: $global-width; // custom
$megamenu-font-size: $global-font-size-medium;

// ----------------------------------------------------
// ANCHOR Meter
// ----------------------------------------------------

$meter-height: 1rem;
$meter-radius: $global-radius;
$meter-background: $medium-gray;
$meter-fill-good: $success-color;
$meter-fill-medium: $warning-color;
$meter-fill-bad: $alert-color;

// ----------------------------------------------------
// ANCHOR Off-Canvas / Offcanvas Layer
// ----------------------------------------------------

$offcanvas-sizes: (
  small: 280px,
);
$offcanvas-vertical-sizes: (
  small: 280px,
);
$offcanvas-background: $grey-darker;
$offcanvas-color: $grey-light; // Custom
$offcanvas-shadow: 0 0 10px rgba($black, 0.7);
$offcanvas-inner-shadow-size: 0;
$offcanvas-inner-shadow-color: transparent;
$offcanvas-overlay-zindex: 11;
$offcanvas-push-zindex: 12;
$offcanvas-overlap-zindex: 13;
$offcanvas-reveal-zindex: 12;
$offcanvas-transition-length: 0.5s;
$offcanvas-transition-timing: ease;
$offcanvas-fixed-reveal: true;
$offcanvas-exit-background: rgba($white, 0.25);
$maincontent-class: "off-canvas-content";

// ----------------------------------------------------
// ANCHOR Orbit
// ----------------------------------------------------

$orbit-bullet-background: $medium-gray;
$orbit-bullet-background-active: $dark-gray;
$orbit-bullet-diameter: 1.2rem;
$orbit-bullet-margin: 0.1rem;
$orbit-bullet-margin-top: 0.8rem;
$orbit-bullet-margin-bottom: 0.8rem;
$orbit-caption-background: rgba($black, 0.5);
$orbit-caption-padding: 1rem;
$orbit-control-background-hover: rgba($black, 0.5);
$orbit-control-padding: 1rem;
$orbit-control-zindex: 10;

// ----------------------------------------------------
// ANCHOR Pagination
// ----------------------------------------------------

$pagination-font-size: 1rem;
$pagination-margin-bottom: $global-margin;
$pagination-item-color: $link-color;
$pagination-item-padding: rem-calc(10 10);
$pagination-item-spacing: rem-calc(4);
$pagination-radius: $global-radius-small;
$pagination-item-background-hover: $primary-color;
$pagination-item-background-current: $primary-color;
$pagination-item-color-hover: $primary-color-text;
$pagination-item-color-current: $white;
$pagination-item-color-disabled: $medium-gray;
$pagination-ellipsis-color: $black;
$pagination-mobile-items: false;
$pagination-mobile-current-item: false;
$pagination-arrows: false;

// ----------------------------------------------------
// ANCHOR Progress Bar
// ----------------------------------------------------

$progress-height: 1rem;
$progress-background: $medium-gray;
$progress-margin-bottom: $global-margin;
$progress-meter-background: $primary-color;
$progress-radius: $global-radius;

// ----------------------------------------------------
// ANCHOR Responsive Embed
// ----------------------------------------------------

$responsive-embed-margin-bottom: rem-calc(16);
$responsive-embed-ratios: (
  default: 4 by 3,
  widescreen: 16 by 9,
);

// ----------------------------------------------------
// ANCHOR Reveal
// ----------------------------------------------------

$reveal-background: $white;
$reveal-width: 600px;
$reveal-max-width: $global-width;
$reveal-padding: $global-padding;
$reveal-border: 0 none;
$reveal-radius: $global-radius;
$reveal-zindex: 1005;
$reveal-overlay-background: rgba($black, 0.45);
$reveal-overlay-blur: 5px;
$reveal-close-button-background: $reveal-background;
$reveal-close-button-color: currentColor;

// ----------------------------------------------------
// ANCHOR Slider
// ----------------------------------------------------

// Slick
$slider-dot-size: 10px;
$slider-dot-active-size-ratio: 1.35;
$slider-dot-nav-gap: 1rem; // gap = space to the slideshow "frame" (outside or inside)
$slider-dot-hover-size-ratio: $slider-dot-active-size-ratio;
$slider-direction-btn-width: 42px;
$slider-direction-btn-height: 42px;
$slider-direction-btn-gap: 0px;
$slider-direction-nav-hide-on-small-devices: true;
$slider-direction-nav-hide-on-small-devices-breakpoint: medium;
$slider-direction-nav-outside-breakpoint: rem-calc(
    $global-width-px - $grid-gutter
  ) + rem-calc($slider-direction-btn-width * 4);
$slider-direction-nav-show-on-hover: true;
$slider-dot-nav-outside-dot-inactive-color: $black-glass;
// Icons are set right in the themes & modules (because they all have its own iconset with different classes)
// $slider-iconfont-family: $drowl-base-iconfont-family;
// $slider-direction-nav-prev-icon: $drowl-admin-ico-chevron-left;
// $slider-direction-nav-next-icon: $drowl-admin-ico-chevron-right;

// ----------------------------------------------------
// ANCHOR Switch
// ----------------------------------------------------

$switch-background: $medium-gray;
$switch-background-active: $primary-color;
$switch-height: 2rem;
$switch-height-tiny: 1.5rem;
$switch-height-small: 1.75rem;
$switch-height-large: 2.5rem;
$switch-radius: $global-radius;
$switch-margin: $global-margin;
$switch-paddle-background: $white;
$switch-paddle-offset: 0.25rem;
$switch-paddle-radius: $global-radius;
$switch-paddle-transition: all 0.25s ease-out;

// ----------------------------------------------------
// ANCHOR Table
// ----------------------------------------------------

$table-background: transparent; // You shouldn't change this - otherwise the scroll indicator for .table-scroll is not visible (see base/_foundation.scss)
$table-color-scale: 5%; // Currently not in use > eg. for table-border: smart-scale($table-background, $table-color-scale)
$table-border: 1px solid $grey-light;
$table-padding: rem-calc(8 10 10);
$table-hover-scale: 8%;
$table-row-hover: rgba($grey-light, 0.75);
$table-row-stripe-hover: rgba($grey-light, 0.75);
$table-is-striped: true;
$table-striped-background: transparent;
$table-stripe: even;
$table-head-background: $grey-dark;
$table-head-row-hover: darken($grey-dark, 5%);
$table-foot-background: $grey-dark;
$table-foot-row-hover: darken($grey-dark, 5%);
$table-head-font-color: $white;
$table-foot-font-color: $white;
$show-header-for-stacked: false;
$table-stack-breakpoint: medium;

// ----------------------------------------------------
// ANCHOR Tabs
// ----------------------------------------------------

$tab-margin: 0;
$tab-background: $white;
$tab-color: $text-color;
$tab-radius: $global-radius-small; // top-left &-right only
$tab-border: 1px solid $white;
$tab-border-color-hover: $white;
$tab-border-color-active: $primary-color;
$tab-shadow: 0px -2px 3px -1px $shadow-intensity;
$tab-shadow-hover: 0px -3px 5px -1px $shadow-intensity;
$tab-background-hover: $tab-background;
$tab-hover-color: $primary-color;
$tab-background-active: $primary-color;
$tab-active-color: $primary-color-text;
$tab-item-font-size: $global-font-size-medium;
$tab-item-background-hover: $white;
$tab-item-padding: 0.75rem 0.85rem;
$tab-expand-max: 6;
$tab-content-background: $white;
$tab-content-border-width: 0; // overrides the default ZF style
$tab-content-border: $light-gray;
$tab-content-color: $body-font-color;
$tab-content-shadow: 0px 3px 3px -3px $shadow-intensity;
$tab-content-padding: 1rem;

// ----------------------------------------------------
// ANCHOR Thumbnails
// ----------------------------------------------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// ----------------------------------------------------
// ANCHOR Title Bar / Titlebar
// ----------------------------------------------------

$titlebar-background: $black;
$titlebar-color: $white;
$titlebar-padding: 0.5rem;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: $white;
$titlebar-icon-color-hover: $medium-gray;
$titlebar-icon-spacing: 0.25rem;

// ----------------------------------------------------
// ANCHOR Tooltips
// ----------------------------------------------------

$has-tip-cursor: help;
$has-tip-font-weight: $global-weight-bold;
$has-tip-border-bottom: dotted 1px $dark-gray;
$tooltip-background-color: $black;
$tooltip-color: $white;
$tooltip-padding: 0.75rem;
$tooltip-max-width: 10rem;
$tooltip-font-size: $global-font-size-small;
$tooltip-pip-width: 0.75rem;
$tooltip-pip-height: $tooltip-pip-width * 0.866;
$tooltip-radius: $global-radius;

// ----------------------------------------------------
// ANCHOR Top Bar / Topbar
// ----------------------------------------------------

$topbar-padding: 0.25rem; // we use this value in a custom way - specific to regions or blocks inside the topbar not for the topbar itself.
$topbar-background: $white;
$topbar-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.25); // just while docked / fixed
$topbar-font-size: $global-font-size-medium;
$topbar-color: $text-color;
$topbar-item-padding-v: 18px;
$topbar-item-padding-h: 20px;
$topbar-item-padding: $topbar-item-padding-v $topbar-item-padding-h;
$topbar-item-color: $topbar-color;
$topbar-item-color-hover: $menu-item-color-hover;
$topbar-item-background-hover: $grey-light;
$topbar-item-color-active: $menu-item-color-active;
$topbar-item-background-active: transparent;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;
$topbar-remove-first-item-padding: true;

$topbar-small-logo-width: 55px;
$topbar-small-logo-expanded-width: $topbar-small-logo-width; // Used if theme setting is set to show_scrolled

// Used if theme setting is set to show_permanent_shrink_scrolled
$topbar-small-logo-shrinked-width: $topbar-small-logo-width; // Not scrolled down
$topbar-small-logo-shrinked-scrolled-width: $topbar-small-logo-width - 10px; // Scrolled down

// Active Trail
$topbar-item-color-active-trail: $menu-item-color-active-trail;
$topbar-item-background-active-trail: $menu-item-background-active-trail;

// Topbar Dropdowns
$topbar-flyout-shadow: $topbar-shadow;
$topbar-submenu-background: $dropdownmenu-background; // Just the first submenu dropdown layer! deeper nested ones will be colored darker per default.
$topbar-submenu-item-color: $topbar-item-color;

// Topbar bottom line (additonal onepage navigation)
$topbar-bottomline-background: darken($topbar-background, 8%);
$topbar-bottomline-color: $topbar-color;

// Topbar fallback height => for fixed / absolute positioned elements beyond the topbar -
// the exact top / height value should be determined & set by jquery
$topbar-fallback-height: calc(
  #{$topbar-font-size} + #{($topbar-item-padding-v * 2)}
);

// ----------------------------------------------------
// ANCHOR Custom Objects
// ----------------------------------------------------

// -- Header Image (Slideshow)
$default-header-image-breakpoint: large;
$default-header-image-height: 600px; // (on large devices)
$default-header-image-background-color: $gray-darker;

// -- Cutlines
$cutline-default-space-v: var(
  --space-v-lg
); // Used for horizontal cutlines (margin + padding bottom / top)
$cutline-default-space-h: calc(
  var(--space-h-md) * 0.5
); // Used for vertical cutlines (margin + padding left / right)
$cutline-default-space-small-v: var(
  --space-v-md
); // Used for horizontal cutlines (margin + padding bottom / top)
$cutline-default-color: rgba(0, 0, 0, 0.15);

// -- Box Styles
$box-style-border-width: 1px;
$box-style-border-style: solid;
$box-style-inner-space-v: lg;
$box-style-inner-space-h: lg;
$box-style-outer-space-bottom: $global-margin;

$box-style-palette: $foundation-palette;
// $box-style-palette: (
//   "primary": #2e90d0,
//   "secondary": #767676,
//   "info": #5bc0de,
//   "success": #5cb85c,
//   "warning": #f0ad4e,
//   "alert": #d9534f,
// );
$box-style-default-style: $grey-light; // this needs to be one of the above defined keys.
$box-style-smart-scale-threshold: 65%;
$box-style-light-colors-foreground-color: $body-font-color; // You can also use the current box styles fg color with 'current'
$box-style-light-colors-background-color: $body-font-color; // You can also use the current box styles bg color with 'current'
$box-style-dark-colors-foreground-color: $white; // You can also use the current box styles fg color with 'current'
$box-style-dark-colors-background-color: "current"; // You can also use the current box styles bg color with 'current'

// -- Animated Burger Icon
$animated-burger-icon-width-default: 30px;
$animated-burger-icon-bar-height-default: 2px;
$animated-burger-icon-bar-spacing-default: 5px;
$animated-burger-icon-bar-radius-default: 2px;
$animated-burger-icon-color: currentColor;
$animated-burger-icon-color-active: $primary-color;

// ----------------------------------------------------
// ANCHOR Animations
// ----------------------------------------------------

// Animate.scss Configuration
$animate-css-all-animations: true;
$animate-css-attention-seekers: false;
$animate-css-bouncing-entrances: false;
$animate-css-bouncing-exits: false;
$animate-css-fading-entrances: false;
$animate-css-fading-exits: false;
$animate-css-flippers: false;
$animate-css-lightspeed: false;
$animate-css-rotating-entrances: false;
$animate-css-rotating-exits: false;
$animate-css-sliding-entrances: false;
$animate-css-sliding-exits: false;
$animate-css-zoom-entrances: false;
$animate-css-zoom-exits: false;
$animate-css-specials: false;

// ----------------------------------------------------
// ANCHOR Drupal > Media
// ----------------------------------------------------

// Slides / Slide Overlays
// Tipps:
// - Absolute overlays on all devices: Ensure you dont set breakpoint-down to "0px down",
//   set it to "1px down" to make this work.
$media-slide-overlay-text-show-breakpoint: medium; // The breakpoint when the longer caption text is shown (instead just the title, subtitle + button)
$media-slide-overlay-absolute-breakpoint: medium; // The breakpoint when the text overlay become absolute position (instead of static beyond the medium)
$media-slide-overlay-absolute-breakpoint-down: small down; // The matching max-width breakpoint

// Videos
$player-icon-size: $icon-size-xl;

// ============================================================================
// Legacy Variables (deprecated in newest theme versions, probably used in
// older ones)
// ============================================================================
$small-font-size-px: $global-font-size-small-px;
$small-font-size: $global-font-size-small;
$medium-font-size: $global-font-size-medium;
$card-margin-bottom: 0;
