/**
 * @file
 * Provides background rules, edge-to-edge, etc.
 *
 * Adjust everything accordingly, hence just the basic.
 *
 * At most cases, might need to re-touch this file.
 */

/* Be sure to add overflow hidden to the page container to avoid overflow. */
body {
  overflow-x: hidden;
}

.row.is-gs-ete,
.row.is-gs-overlay,
.row.is-gs-parallax {
  align-content: stretch;
  align-items: stretch;
}

.gridstack .box__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 120px;
}

.gridstack--js .box__bg {
  padding-right: 0;
  padding-left: 0;
}

.gridstack .box__bg ~ * {
  position: relative;
  z-index: 2;
}

.is-gs-ete {
  position: relative;
}

/*
.is-gs-media {
  position: relative; @todo expected by bg, bad for js-driven absolute, bad for flexbox.
}
*/

.box__content,
.is-gs-media,
.is-gs-ete .gridstack,
.is-gs-overlay .gridstack,
.gridstack .media__overlay,
.is-gs-ete .box__bg .b-gs,
.is-gs-overlay .box__bg .b-gs {
  height: 100%;
}

/**
 * Might be top level .gridstack, or per box.
 * Transform with background fixed is bad for Chrome! Override this accordingly.
 *
 * @see gridstack.parallax.css for fullscreen overrides.
 */
.is-gs-ete > .box__bg,
.is-gs-ete > .gridstack__inner > .box__bg,
.box--ete > .box__content .box__bg {
  position: absolute;
  left: 50%;
  overflow: hidden;
  /* transition: none;
  animation: none; */
  width: 100vw;
  min-width: 1px;
  max-width: none;
  height: 100%;
  padding-right: 0;
  padding-left: 0;
  transform: translateX(-50%);
}

/* Top level BG.
.gridstack.is-gs-ete > .box__bg {
  position: absolute;
  width: 100%;
} */

/* Matching Bootstrap padding, adjust this accordingly. */
@media screen and (min-width: 768px) {
  .gridstack .is-gs-shrink:not(.is-gs-ete) > .box__bg {
    right: 15px;
    left: 15px;
    width: auto;
  }
}
