/**
 * @file
 */

/*
.form--outlayer.form--optionset #edit-options {
  clear: both;
  float: none;
  width: 100%;
}

.form--outlayer.form--optionset .form-item-layout-description {
  font-size: 0.9rem;
  margin: 30px auto;
  text-align: left;
  text-transform: none;
  width: 100%;
}

.form--outlayer.form--optionset .form-wrapper--wide {
  clear: both;
  float: none;
  width: 100%;
}

.form--outlayer.form--optionset .form-item-options-layoutmode {
  max-height: 120px;
  position: absolute;
  right: 0;
  top: -100px;
}

.form--gridstack.form--plugin-outlayer-grid .form-item.form-item--grid-custom,
.form--gridstack.form--plugin-outlayer-isotope .form-item.form-item--grid-custom {
  clear: both;
  float: none;
  width: 100%;
}

.form--gridstack.form--plugin-outlayer-grid .form-item.form-item--grid-custom .form-text,
.form--gridstack.form--plugin-outlayer-isotope .form-item.form-item--grid-custom .form-text {
  max-width: 100%;
  width: 80%;
}
*/
