{#
/**
 * @file
 * Template base file for our drowl layout template files.
 *
 * This template provides a base from which the other template files inherit
 * from.
 * Global classes and blocks are defined here.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.top: Content in the left cell.
 *   - content.bottom: Content in the right cell.
 */
#}

{# Define global drowl layout classes the other layouts will inherit from #}

{% set layout_settings = content['#settings'] %}
{% set layout_container_attributes = create_attribute() %}
{% set row_attributes = create_attribute() %}
{% set layout_extra_classes = layout_settings.extra_classes|split(',') %}
{% set layout_section_width_is_unequal = 'viewport-width-column' in layout_settings.layout_section_width ? true : false %}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set top_rendered = content.top|render %}
{% set bottom_rendered = content.bottom|render %}

{% set layout_container_classes = [
    'drowl-layout-container',
    layout_settings.layout_section_width == 'viewport-width-cp' ? 'viewport-width',
    layout_settings.layout_section_width == 'viewport-width' ? 'viewport-width',
    layout_settings.layout_section_width == 'page-width' ? 'grid-container',
    layout_settings.layout_section_width == layout_section_width_is_unequal ? 'grid-container',
    layout_settings.layout_section_width == layout_section_width_is_unequal ? ('viewport-width--' ~ layout_settings.layout_section_width|clean_class),
]%}

{% set layout_classes = [
    'drowl-layout',
    layout_settings.layout_section_width == 'viewport-width-cp' ? 'grid-container'
]%}

{% set default_cell_classes = [
    'drowl-layout__region',
    'cell',
    'small-12'
] %}

{% set row_classes = [
    'grid-x',
    'grid-margin-x',
    'grid-margin-y',
    layout_settings.layout_align_cells_vertical ? 'align-' ~ layout_settings.layout_align_cells_vertical|clean_class,
    layout_settings.layout_align_cells_horizontal ? 'align-' ~ layout_settings.layout_align_cells_horizontal|clean_class
] %}

{# Collapsing grid gutter per size #}
{% if layout_settings.layout_remove_grid_gutter and layout_settings.layout_remove_grid_gutter is iterable %}
    {% for size in layout_settings.layout_remove_grid_gutter %}
        {% set row_classes = row_classes|merge([size ~ '-margin-collapse']) %}
    {% endfor %}
{% elseif layout_settings.layout_remove_grid_gutter %}
    {% set row_classes = row_classes|merge([layout_settings.layout_remove_grid_gutter ~ '-margin-collapse']) %}
{% endif %}

{# Reverse cell order per size #}
{% if layout_settings.layout_reverse_cell_order and layout_settings.layout_reverse_cell_order is iterable %}
    {% for size in layout_settings.layout_reverse_cell_order %}
        {% set row_classes = row_classes|merge([size ~ '-order-reverse']) %}
    {% endfor %}
{% elseif layout_settings.layout_reverse_cell_order %}
    {% set row_classes = row_classes|merge([layout_settings.layout_reverse_cell_order ~ '-order-reverse']) %}
{% endif %}

{# Custom extra classes #}
{% if layout_extra_classes and layout_extra_classes is iterable %}
    {% for class in layout_extra_classes %}
        {% set layout_classes = layout_classes|merge([class]) %}
    {% endfor %}
{% elseif layout_extra_classes %}
    {% set layout_classes = layout_classes|merge([layout_extra_classes]) %}
{% endif %}

{# Define default blocks #}
{% block layout_container_opener %}
    <div {{ layout_container_attributes.addClass(layout_container_classes) }}>
{% endblock layout_container_opener %}
    {% block layout_outer %}
        <div {{ attributes.addClass(layout_classes) }}>
        {% block layout_region_top %}
            {% if top_rendered is real_content or drowl_layouts_force_render  %}
                <div {{ region_attributes.top.addClass('drowl-layout__region', 'drowl-layout__region--top') }}>
                    {{ top_rendered }}
                </div>
            {% endif %}
        {% endblock layout_region_top %}
        {% block layout_regions %}{% endblock layout_regions %}
        {% block layout_region_bottom %}
            {% if bottom_rendered is real_content or drowl_layouts_force_render %}
                <div {{ region_attributes.bottom.addClass('drowl-layout__region', 'drowl-layout__region--bottom') }}>
                    {{ bottom_rendered }}
                </div>
            {% endif %}
        {% endblock layout_region_bottom %}
        </div>
    {% endblock layout_outer %}
{% block layout_container_closer %}
    </div>
{% endblock layout_container_closer %}
