/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxin ajaxin--wave">
 *      <div class="sk1"></div>
 *      <div class="sk2"></div>
 *      <div class="sk3"></div>
 *      <div class="sk4"></div>
 *      <div class="sk5"></div>
 *    </div>
 */

.ajaxin.ajaxin--wave {
  width: 60px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}

.ajaxin--wave .sk {
  display: inline-block;
  width: 6px;
  height: 100%;
  margin: 0 1px;
  -webkit-animation: skwavestretchdelay 1.2s infinite ease-in-out;
  animation: skwavestretchdelay 1.2s infinite ease-in-out;
}

.ajaxin--wave .sk2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.ajaxin--wave .sk3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.ajaxin--wave .sk4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.ajaxin--wave .sk5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/*
@-webkit-keyframes skwavestretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
*/

@keyframes skwavestretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
