@font-face {
  font-family: 'Noto Sans' !important;
  src: url('../fonts/NotoSans-Regular.ttf')  format('truetype');
  font-display: swap;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #515151;
    font-size: 1.1rem;
}

p {
	margin: 0 0 24px;
}

.card {
	border: none;
}
.js-form-item.form-item {
	margin-bottom: 16px;
}

#views-bootstrap-slideshow-block-1 {
	margin-bottom: 24px;
}

#views-bootstrap-slideshow-attachment-1 .row {
	margin-bottom: 32px;
}

.carousel-caption h3 a {
	font-size: 24px;
	color: #eee;
	text-shadow: 1px 1px #000;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.slideshow-news .attachment {
    margin-top: 16px;
}

/* 
  Tuning  CSS 
*/

.caret::before {
	content: "\f107";
	font-family: "Font Awesome 6 Free";
	font-weight: 600;
}

.caret {
  vertical-align: unset;
  border: none;
  margin-right: 4px;
}

img {
	max-width: 100%;
	height: auto;
}

.slideshow-fluid img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 600px;
}

.layout.row.layout-builder__layout .block {
    margin-bottom: 32px;
}

nav.tabs, #node-homepage-layout-builder-form {
	/* width: 1170px; */
	margin: 0 auto;
}

.content-latest-news-list a {
	font-weight: 600;
	font-size: 1rem;
}

.content-latest-news-list .post-block {
	padding: 16px 0;
}

.content-category-list .views-row {
	border: solid 1px #ddd;
	padding: 11px;
	margin-bottom: 16px;
	min-height: 90px;
}

.content-category-list img {
	float: left;
}

.content-category-list a {
	padding: 0px 8px 0 115px;
	display: block;
	margin-bottom: 8px;
}

.col-12 h3 {
	font-size: 14px;
}

a {
  transition: all 0.3s ease-in-out;
  color: var(--bs-body-color-rgb);
  text-decoration: none;
}

a, a:focus {
	background-color: transparent;
	color: var(--bgcolor);
}

a:focus, a:hover {
	text-decoration: none;
	color: var(--linkhover);
}


/* Slider 1 */
.node--view-mode-slider-1.post-block {
	position: relative;
}

/* Image Number */

@media only screen and (min-width: 769px) {
  /* For NOT mobile phones: */
    .field-content.imgnum-1, .field-content.imgnum-4 {
	width: 843px; height: 100%;
    }
    
    .field-content.imgnum-2 img, .field-content.imgnum-5 img {
    	width: 376px; position: fixed; right:0; height: 244px;
    }
    
    .field-content.imgnum-3 img, .field-content.imgnum-6 img{
    	width: 376px; position: fixed; right:0; height: 244px; bottom:0;
    }
}
.views-field.views-field-field-image {
	margin-bottom: 8px;
}

.content-slideshow-multi .views-field.views-field-field-image {
	margin-bottom: 0;
}
.content-numbered .post-block {
	position: relative;
	min-height: 40px;
	margin-bottom: 22px;
}

.content-numbered .post-block .number {
	font-size: 16px;
	color: #eee;
	text-align: center;
	width: 40px;
	height: 40px;
	position: absolute;
	background: var(--bgcolor);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	top: 50%;
	left: 0;
	z-index: 11;
	margin-top: -20px;
	line-height: 40px;
	font-style: italic;
}

.content-numbered .post-block .post-title a {
	display: block;
	font-size: 14px;
	padding-left: 50px;
	font-weight: 600;
}

.content-category .attachment img {
	float: left;
	margin: 0 15px 15px 0;
}

.views-field.views-field-title {
	font-weight: 600;
	font-size: 1rem;
}

.check-01 {
    clear: both;
}

.article-category {
    margin-top: 16px;
	display: inline-block;
}

.article-category .field__item, .views-field-field-category .field-content a {
	padding: 4px 8px;
	background: var(--bgcolor); color: #fff;
	display: inline-block;
	margin: 4px 8px 8px 0;
}
.article-category a {
	color: #fff;
}

.field.field__name-field-tags .field__item {
	display: inline-block;
	padding: 4px 8px 8px 8px;
	background: #CCC;
	margin: 8px 8px 8px 0;
}

.image-with-title {
	font-style: italic;
}

.content-recommended img {
	width: 100%;
}

.content-recommended .post-title a {
	font-weight: 600;
	font-size: 1rem;
}

@media (max-width: 575px) {
    .content-recommended .post-content {
        margin-bottom: 16px;
    }
}

/* Categories and Tags */

.field--tags__item a {
	background: #CCC;
	padding: 4px 8px;
	margin: 3px;
}

.hello{
	background-color: red;
}