{#
/**
 * @see: https://icons.getbootstrap.com/
 * @see: https://git.drupalcode.org/project/bootstrap_ui_kit/-/blob/main/templates/ui-kit/iconography/icon.html.twig
 */
#}

{# Single icon #}
{% include '@bootstrap_ui_kit/ui-kit/iconography/icon.html.twig' with { name: 'address-book', classes: 'icon-lg' } %}

{# Multiple icons #}
{% include '@bootstrap_ui_kit/ui-kit/iconography/icon.html.twig' with { name: 'address-book calendar chart-bar', classes: 'icon-lg' } %}
