<div class="form-item-value-preview {{ field_related|clean_class }}">
  <div class="layout-setting-preview layout-setting-preview--width layout-settings-preview--width--cells-{{ column_count }}">
    <div class="layout-setting-preview__row">
      {% for i in range(1, column_count) %}
        <div class="layout-setting-preview__cell"></div>
      {% endfor %}
    </div>
  </div>
</div>