{#
/**
 * @file
 * Implements the Cards tab content for the UI Kit.
 *
 * Displays usage of cards within the theme.
 */
#}
{% import '@bootstrap_ui_kit/ui-kit/' ~ section.id ~ '/' ~ section.id ~ '.macros.twig' as macros %}
{% extends '@bootstrap_ui_kit/section.html.twig' %}

{% block section_intro %}
  {% trans %}
    <p>Cards provide a flexible and extensible content container with multiple variants and options.</p>
  {% endtrans %}
{% endblock %}

{% block section_content %}
  <div class="row gy-5">
    <div class="col-12 col-md-4">
      {{ macros.card() }}
    </div>
    <div class="col-12 col-md-4">
      {{ macros.card() }}
    </div>
    <div class="col-12 col-md-4">
      {{ macros.card() }}
    </div>
  </div>
{% endblock %}


