/**
 * @file
 * W3CSS Paragraphs 3D Flip box
 *
 * Filename:     w3css-paragraphs-3d-flip-box.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.paragraph--type--w3css-3d-flip-box .w3-flip-box {
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  perspective: 1500px;
}

.paragraph--type--w3css-3d-flip-box .w3-flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.paragraph--type--w3css-3d-flip-box .w3-flip-box.flip-x:hover .w3-flip-box-inner {
  transform: rotateX(180deg);
}

.paragraph--type--w3css-3d-flip-box .w3-flip-box.flip-y:hover .w3-flip-box-inner {
  transform: rotateY(180deg);
}

.paragraph--type--w3css-3d-flip-box .w3-3d-front,
.paragraph--type--w3css-3d-flip-box .w3-3d-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden!important;
  backface-visibility: hidden!important;
}

.paragraph--type--w3css-3d-flip-box .w3-3d-back.flip-y {
  transform: rotateY(180deg);
}

.paragraph--type--w3css-3d-flip-box .w3-3d-back.flip-x {
  transform: rotateX(180deg);
}

.paragraph--type--w3css-3d-flip-box.w3-card-2 {
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.paragraph--type--w3css-3d-flip-box.w3-card-4 {
  margin: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
}
