/**
 * @file
 * W3CSS Paragraphs.
 *
 * Filename:     w3css-color-active-classes.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.w3-is-active-amber .w3-is-active {
  color: #000 !important;
  background-color: #ffc107 !important;
}

.w3-is-active-aqua .w3-is-active {
  color: #000 !important;
  background-color: #0ff !important;
}

.w3-is-active-blue .w3-is-active {
  color: #fff !important;
  background-color: #2196f3 !important;
}

.w3-is-active-light-blue .w3-is-active {
  color: #000 !important;
  background-color: #87ceeb !important;
}

.w3-is-active-brown .w3-is-active {
  color: #fff !important;
  background-color: #795548 !important;
}

.w3-is-active-cyan .w3-is-active {
  color: #000 !important;
  background-color: #00bcd4 !important;
}

.w3-is-active-blue-gray .w3-is-active,
.w3-is-active-blue-grey .w3-is-active {
  color: #fff !important;
  background-color: #607d8b !important;
}

.w3-is-active-green .w3-is-active {
  color: #fff !important;
  background-color: #4caf50 !important;
}

.w3-is-active-light-green .w3-is-active {
  color: #000 !important;
  background-color: #8bc34a !important;
}

.w3-is-active-indigo .w3-is-active {
  color: #fff !important;
  background-color: #3f51b5 !important;
}

.w3-is-active-khaki .w3-is-active {
  color: #000 !important;
  background-color: #f0e68c !important;
}

.w3-is-active-lime .w3-is-active {
  color: #000 !important;
  background-color: #cddc39 !important;
}

.w3-is-active-orange .w3-is-active {
  color: #000 !important;
  background-color: #ff9800 !important;
}

.w3-is-active-deep-orange .w3-is-active {
  color: #fff !important;
  background-color: #ff5722 !important;
}

.w3-is-active-pink .w3-is-active {
  color: #fff !important;
  background-color: #e91e63 !important;
}

.w3-is-active-purple .w3-is-active {
  color: #fff !important;
  background-color: #9c27b0 !important;
}

.w3-is-active-deep-purple .w3-is-active {
  color: #fff !important;
  background-color: #673ab7 !important;
}

.w3-is-active-red .w3-is-active {
  color: #fff !important;
  background-color: #f44336 !important;
}

.w3-is-active-sand .w3-is-active {
  color: #000 !important;
  background-color: #fdf5e6 !important;
}

.w3-is-active-teal .w3-is-active {
  color: #fff !important;
  background-color: #009688 !important;
}

.w3-is-active-yellow .w3-is-active {
  color: #000 !important;
  background-color: #ffeb3b !important;
}

.w3-is-active-white .w3-is-active {
  color: #000 !important;
  background-color: #fff !important;
}

.w3-is-active-black .w3-is-active {
  color: #fff !important;
  background-color: #000 !important;
}

.w3-is-active-gray .w3-is-active,
.w3-is-active-grey .w3-is-active {
  color: #000 !important;
  background-color: #9e9e9e !important;
}

.w3-is-active-light-gray .w3-is-active,
.w3-is-active-light-grey .w3-is-active {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.w3-is-active-dark-gray .w3-is-active,
.w3-is-active-dark-grey .w3-is-active {
  color: #fff !important;
  background-color: #616161 !important;
}

.w3-is-active-pale-red .w3-is-active {
  color: #000 !important;
  background-color: #fdd !important;
}

.w3-is-active-pale-green .w3-is-active {
  color: #000 !important;
  background-color: #dfd !important;
}

.w3-is-active-pale-yellow .w3-is-active {
  color: #000 !important;
  background-color: #ffc !important;
}

.w3-is-active-pale-blue .w3-is-active {
  color: #000 !important;
  background-color: #dff !important;
}
