{% extends "@gridstack/gridstack.html.twig" %}
{#
/**
 * @file
 * Overrides theme implementation for the GridStack template.
 *
 * Available variables:
 * - items: The array of items containing gridstack contents and captions.
 * - settings: A cherry-picked settings that mostly defines the box HTML or
 *     layout, and none of JS settings/options which are defined at data-config.
 * - attributes: The array of attributes to hold classes, id and config data
 *     containing JSON object aka JS settings the GridStack expects. We don't
 *     store these JS settings in the normal <head>, but inline within
 *     data-config attribute instead.
 *
 * Debug:
 * @see https://www.drupal.org/node/1906780
 * @see https://www.drupal.org/node/1903374
 * Use Kint: {{ kint(variable) }}
 * Dump all available variables and their contents: {{ dump() }}
 * Dump only the available variable keys: {{ dump(_context|keys) }}
 */
#}
{% block gridstack_postscript %}
  {{ postscript }}

  {% if settings.columnWidthSizer %}
    <div class="outlayer__sizer sizer sizer--column {{ settings.columnWidthSizer }} is-nixbox"></div>
  {% endif %}

  {% if settings.gutterSizer %}
    <div class="outlayer__sizer sizer sizer--gutter {{ settings.gutterSizer }} is-nixbox"></div>
  {% endif %}

  {% if settings.rowHeightSizer %}
    <div class="outlayer__sizer sizer sizer--row-height {{ settings.rowHeightSizer }} is-nixbox"></div>
  {% endif %}

  {% if settings.plugin_id == 'outlayer_isotope' %}
    <div class="outlayer__empty is-nixbox"></div>
  {% endif %}
{% endblock %}
