/**
 * @file
 * Skin based on safe CSS file name: ultimenu--orange.
 */

.ultimenu--orange .ultimenu__flyout {
  background-color: #f50;
}

/**
 * * 944px below with 16px base font.
 */
@media all and (max-width: 58.999em) {
  .ultimenu--orange .ultimenu__link {
    color: #f50;
  }

  .ultimenu--orange .is-active-trail > a,
  .ultimenu--orange .is-ultimenu-active {
    background-color: #f50;
  }
}

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--orange .block {
    display: inline-block;
    vertical-align: top;
  }
}
