/**
 * @file
 * Skin based on safe CSS file name: ultimenu--htb-tabs-orange.
 */

.ultimenu--htb-tabs-orange .ultimenu__flyout {
  border-top: 1px solid #f50;
  background-color: #f50;
}

.ultimenu--htb-tabs-orange .ultimenu__link {
  z-index: 103; /* Above the flyout z-index: 102. */
  border-top: 1px solid transparent;
}

/* @todo is-active https://www.drupal.org/node/2281785 */
.ultimenu--htb-tabs-orange .is-active-trail > a,
.ultimenu--htb-tabs-orange > li:hover > a,
/** Unfortunaly is-active is unreliable, it goes on scroll/ ajax. */
.ultimenu--htb-tabs-orange .is-ultimenu-active {
  color: #fff;
  border-top: 1px solid #ffa070;
  background-color: #f50;
}

/**
 * * 944px below with 16px base font.
 */
@media all and (max-width: 58.999em) {
  .ultimenu--htb-tabs-orange .ultimenu__link {
    color: #f50;
  }
}

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--htb-tabs-orange .block:first-child {
    float: left;
    width: 45%;
  }

  .ultimenu--htb-tabs-orange .block:nth-child(2) {
    margin-left: 48%;
  }

  .ultimenu--hover.ultimenu--htb-tabs-orange > li > a,
  /** Unfortunaly is-active is unreliable, it goes on scroll/ ajax. */
  .ultimenu--hover.ultimenu--htb-tabs-orange .is-active-trail > a {
    border-radius: 5px 5px 0 0;
  }

  .ultimenu--hover.ultimenu--htb-tabs-orange li:hover > .ultimenu__flyout,
  .ultimenu--hover.ultimenu--htb-tabs-orange li .ultimenu__flyout:focus-within,
  .ultimenu--hover.ultimenu--htb-tabs-orange li a:focus + .ultimenu__flyout {
    margin-top: -1px;
  }
}
