/**
 * @file
 * Skin based on safe CSS file name: ultimenu--htb-tabs.
 */

.ultimenu--htb-tabs .ultimenu__flyout {
  border-top: 1px solid #48a9e4;
  background-color: #0779bf;
}

.ultimenu--htb-tabs .ultimenu__link {
  z-index: 103; /* Above the flyout z-index: 102. */
  border-top: 1px solid transparent;
}

.ultimenu--htb-tabs > li:hover > a,
.ultimenu--htb-tabs .is-ultimenu-active {
  color: #fff;
  border-top: 1px solid #48a9e4;
  background-color: #0779bf;
}

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--htb-tabs .block:first-child {
    float: left;
    width: 45%;
  }

  .ultimenu--htb-tabs .block:nth-child(2) {
    margin-left: 48%;
  }

  .ultimenu--hover.ultimenu--htb-tabs > li > a,
  /** Unfortunaly is-active is unreliable, it goes on scroll/ ajax. */
  .ultimenu--hover.ultimenu--htb-tabs-orange .is-active-trail > a {
    border-radius: 5px 5px 0 0;
  }

  .ultimenu--hover.ultimenu--htb-tabs li:hover > .ultimenu__flyout,
  .ultimenu--hover.ultimenu--htb-tabs li .ultimenu__flyout:focus-within,
  .ultimenu--hover.ultimenu--htb-tabs li a:focus + .ultimenu__flyout {
    margin-top: -1px;
  }
}
