/**
 * @file
 * Skin based on safe CSS file name: ultimenu--htb-tabs-blue.
 */

.ultimenu--htb-tabs-blue .ultimenu__flyout {
  border-top: 1px solid #48a9e4;
  background-color: #0779bf;
}

.ultimenu--htb-tabs-blue .ultimenu__link {
  z-index: 103; /* Above the flyout z-index: 102. */
  border-top: 1px solid transparent;
}

.ultimenu--htb-tabs-blue .is-active-trail > a,
.ultimenu--htb-tabs-blue > li:hover > a,
/** Unfortunaly is-active is unreliable, it goes on scroll. */
.ultimenu--htb-tabs-blue .is-ultimenu-active {
  color: #fff;
  border-top: 1px solid #48a9e4;
  background-color: #0779bf;
}

/**
 * * 944px below with 16px base font.
 */
@media all and (max-width: 58.999em) {
  .ultimenu--htb-tabs-blue .ultimenu__link {
    color: #0779bf;
  }
}

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--htb-tabs-blue .block:first-child {
    float: left;
    width: 45%;
  }

  .ultimenu--htb-tabs-blue .block:nth-child(2) {
    margin-left: 48%;
  }

  /** Unfortunaly is-active is unreliable, it goes on scroll. */
  .ultimenu--hover.ultimenu--htb-tabs-blue > li > a,
  .ultimenu--hover.ultimenu--htb-tabs-blue .is-active-trail > a {
    border-radius: 5px 5px 0 0;
  }

  .ultimenu--hover.ultimenu--htb-tabs-blue li:hover > .ultimenu__flyout,
  .ultimenu--hover.ultimenu--htb-tabs-blue li .ultimenu__flyout:focus-within,
  .ultimenu--hover.ultimenu--htb-tabs-blue li a:focus + .ultimenu__flyout {
    margin-top: -1px;
  }
}
