/*
* UI Kit / Iconography
*/

.bootstrap-ui-kit .icon-sm svg {
  height: .75rem;
  width: .75rem;
}

.bootstrap-ui-kit .icon svg {
  height: 1rem;
  width: 1rem;
}

.bootstrap-ui-kit .icon-md svg {
  height: 1.5rem;
  width: 1.5rem;
}

.bootstrap-ui-kit .icon-lg svg {
  height: 2rem;
  width: 2rem;
}
