/**
 * @file
 */

.gridstack.grid-stack-6 > .box {
  min-width: 16.66667%;
}

.gridstack.grid-stack-6 > .box[gs-w="1"] {
  width: 16.66667%;
}

.gridstack.grid-stack-6 > .box[gs-x="1"] {
  left: 16.66667%;
}

.gridstack.grid-stack-6 > .box[gs-min-w="1"] {
  min-width: 16.66667%;
}

.gridstack.grid-stack-6 > .box[gs-max-w="1"] {
  max-width: 16.66667%;
}

.gridstack.grid-stack-6 > .box[gs-w="2"] {
  width: 33.33333%;
}

.gridstack.grid-stack-6 > .box[gs-x="2"] {
  left: 33.33333%;
}

.gridstack.grid-stack-6 > .box[gs-min-w="2"] {
  min-width: 33.33333%;
}

.gridstack.grid-stack-6 > .box[gs-max-w="2"] {
  max-width: 33.33333%;
}

.gridstack.grid-stack-6 > .box[gs-w="3"] {
  width: 50%;
}

.gridstack.grid-stack-6 > .box[gs-x="3"] {
  left: 50%;
}

.gridstack.grid-stack-6 > .box[gs-min-w="3"] {
  min-width: 50%;
}

.gridstack.grid-stack-6 > .box[gs-max-w="3"] {
  max-width: 50%;
}

.gridstack.grid-stack-6 > .box[gs-w="4"] {
  width: 66.66667%;
}

.gridstack.grid-stack-6 > .box[gs-x="4"] {
  left: 66.66667%;
}

.gridstack.grid-stack-6 > .box[gs-min-w="4"] {
  min-width: 66.66667%;
}

.gridstack.grid-stack-6 > .box[gs-max-w="4"] {
  max-width: 66.66667%;
}

.gridstack.grid-stack-6 > .box[gs-w="5"] {
  width: 83.33333%;
}

.gridstack.grid-stack-6 > .box[gs-x="5"] {
  left: 83.33333%;
}

.gridstack.grid-stack-6 > .box[gs-min-w="5"] {
  min-width: 83.33333%;
}

.gridstack.grid-stack-6 > .box[gs-max-w="5"] {
  max-width: 83.33333%;
}

.gridstack.grid-stack-6 > .box[gs-w="6"] {
  width: 100%;
}

.gridstack.grid-stack-6 > .box[gs-x="6"] {
  left: 100%;
}

.gridstack.grid-stack-6 > .box[gs-min-w="6"] {
  min-width: 100%;
}

.gridstack.grid-stack-6 > .box[gs-max-w="6"] {
  max-width: 100%;
}
