/**
 * @file
 */

.gridstack.grid-stack-10 > .box {
  min-width: 10%;
}

.gridstack.grid-stack-10 > .box[gs-w="1"] {
  width: 10%;
}

.gridstack.grid-stack-10 > .box[gs-x="1"] {
  left: 10%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="1"] {
  min-width: 10%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="1"] {
  max-width: 10%;
}

.gridstack.grid-stack-10 > .box[gs-w="2"] {
  width: 20%;
}

.gridstack.grid-stack-10 > .box[gs-x="2"] {
  left: 20%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="2"] {
  min-width: 20%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="2"] {
  max-width: 20%;
}

.gridstack.grid-stack-10 > .box[gs-w="3"] {
  width: 30%;
}

.gridstack.grid-stack-10 > .box[gs-x="3"] {
  left: 30%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="3"] {
  min-width: 30%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="3"] {
  max-width: 30%;
}

.gridstack.grid-stack-10 > .box[gs-w="4"] {
  width: 40%;
}

.gridstack.grid-stack-10 > .box[gs-x="4"] {
  left: 40%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="4"] {
  min-width: 40%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="4"] {
  max-width: 40%;
}

.gridstack.grid-stack-10 > .box[gs-w="5"] {
  width: 50%;
}

.gridstack.grid-stack-10 > .box[gs-x="5"] {
  left: 50%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="5"] {
  min-width: 50%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="5"] {
  max-width: 50%;
}

.gridstack.grid-stack-10 > .box[gs-w="6"] {
  width: 60%;
}

.gridstack.grid-stack-10 > .box[gs-x="6"] {
  left: 60%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="6"] {
  min-width: 60%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="6"] {
  max-width: 60%;
}

.gridstack.grid-stack-10 > .box[gs-w="7"] {
  width: 70%;
}

.gridstack.grid-stack-10 > .box[gs-x="7"] {
  left: 70%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="7"] {
  min-width: 70%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="7"] {
  max-width: 70%;
}

.gridstack.grid-stack-10 > .box[gs-w="8"] {
  width: 80%;
}

.gridstack.grid-stack-10 > .box[gs-x="8"] {
  left: 80%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="8"] {
  min-width: 80%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="8"] {
  max-width: 80%;
}

.gridstack.grid-stack-10 > .box[gs-w="9"] {
  width: 90%;
}

.gridstack.grid-stack-10 > .box[gs-x="9"] {
  left: 90%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="9"] {
  min-width: 90%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="9"] {
  max-width: 90%;
}

.gridstack.grid-stack-10 > .box[gs-w="10"] {
  width: 100%;
}

.gridstack.grid-stack-10 > .box[gs-x="10"] {
  left: 100%;
}

.gridstack.grid-stack-10 > .box[gs-min-w="10"] {
  min-width: 100%;
}

.gridstack.grid-stack-10 > .box[gs-max-w="10"] {
  max-width: 100%;
}
