/**
 * @file
 */

.gridstack.grid-stack-4 > .box {
  left: 0;
  min-width: 25%;
}

.gridstack.grid-stack-4 > .box[gs-w="1"] {
  width: 25%;
}

.gridstack.grid-stack-4 > .box[gs-x="1"] {
  left: 25%;
}

.gridstack.grid-stack-4 > .box[gs-min-w="1"] {
  min-width: 25%;
}

.gridstack.grid-stack-4 > .box[gs-max-w="1"] {
  max-width: 25%;
}

.gridstack.grid-stack-4 > .box[gs-w="2"] {
  width: 50%;
}

.gridstack.grid-stack-4 > .box[gs-x="2"] {
  left: 50%;
}

.gridstack.grid-stack-4 > .box[gs-min-w="2"] {
  min-width: 50%;
}

.gridstack.grid-stack-4 > .box[gs-max-w="2"] {
  max-width: 50%;
}

.gridstack.grid-stack-4 > .box[gs-w="3"] {
  width: 75%;
}

.gridstack.grid-stack-4 > .box[gs-x="3"] {
  left: 75%;
}

.gridstack.grid-stack-4 > .box[gs-min-w="3"] {
  min-width: 75%;
}

.gridstack.grid-stack-4 > .box[gs-max-w="3"] {
  max-width: 75%;
}

.gridstack.grid-stack-4 > .box[gs-w="4"] {
  width: 100%;
}

.gridstack.grid-stack-4 > .box[gs-x="4"] {
  left: 100%;
}

.gridstack.grid-stack-4 > .box[gs-min-w="4"] {
  min-width: 100%;
}

.gridstack.grid-stack-4 > .box[gs-max-w="4"] {
  max-width: 100%;
}
