/**
 * @file
 */

.gridstack.grid-stack-11 > .box {
  min-width: 9.09091%;
}

.gridstack.grid-stack-11 > .box[gs-w="1"] {
  width: 9.09091%;
}

.gridstack.grid-stack-11 > .box[gs-x="1"] {
  left: 9.09091%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="1"] {
  min-width: 9.09091%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="1"] {
  max-width: 9.09091%;
}

.gridstack.grid-stack-11 > .box[gs-w="2"] {
  width: 18.18182%;
}

.gridstack.grid-stack-11 > .box[gs-x="2"] {
  left: 18.18182%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="2"] {
  min-width: 18.18182%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="2"] {
  max-width: 18.18182%;
}

.gridstack.grid-stack-11 > .box[gs-w="3"] {
  width: 27.27273%;
}

.gridstack.grid-stack-11 > .box[gs-x="3"] {
  left: 27.27273%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="3"] {
  min-width: 27.27273%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="3"] {
  max-width: 27.27273%;
}

.gridstack.grid-stack-11 > .box[gs-w="4"] {
  width: 36.36364%;
}

.gridstack.grid-stack-11 > .box[gs-x="4"] {
  left: 36.36364%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="4"] {
  min-width: 36.36364%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="4"] {
  max-width: 36.36364%;
}

.gridstack.grid-stack-11 > .box[gs-w="5"] {
  width: 45.45455%;
}

.gridstack.grid-stack-11 > .box[gs-x="5"] {
  left: 45.45455%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="5"] {
  min-width: 45.45455%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="5"] {
  max-width: 45.45455%;
}

.gridstack.grid-stack-11 > .box[gs-w="6"] {
  width: 54.54545%;
}

.gridstack.grid-stack-11 > .box[gs-x="6"] {
  left: 54.54545%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="6"] {
  min-width: 54.54545%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="6"] {
  max-width: 54.54545%;
}

.gridstack.grid-stack-11 > .box[gs-w="7"] {
  width: 63.63636%;
}

.gridstack.grid-stack-11 > .box[gs-x="7"] {
  left: 63.63636%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="7"] {
  min-width: 63.63636%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="7"] {
  max-width: 63.63636%;
}

.gridstack.grid-stack-11 > .box[gs-w="8"] {
  width: 72.72727%;
}

.gridstack.grid-stack-11 > .box[gs-x="8"] {
  left: 72.72727%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="8"] {
  min-width: 72.72727%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="8"] {
  max-width: 72.72727%;
}

.gridstack.grid-stack-11 > .box[gs-w="9"] {
  width: 81.81818%;
}

.gridstack.grid-stack-11 > .box[gs-x="9"] {
  left: 81.81818%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="9"] {
  min-width: 81.81818%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="9"] {
  max-width: 81.81818%;
}

.gridstack.grid-stack-11 > .box[gs-w="10"] {
  width: 90.90909%;
}

.gridstack.grid-stack-11 > .box[gs-x="10"] {
  left: 90.90909%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="10"] {
  min-width: 90.90909%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="10"] {
  max-width: 90.90909%;
}

.gridstack.grid-stack-11 > .box[gs-w="11"] {
  width: 100%;
}

.gridstack.grid-stack-11 > .box[gs-x="11"] {
  left: 100%;
}

.gridstack.grid-stack-11 > .box[gs-min-w="11"] {
  min-width: 100%;
}

.gridstack.grid-stack-11 > .box[gs-max-w="11"] {
  max-width: 100%;
}
