@use "sass:math";
@import "../base";

// Set some vars needed for the preview styles rendering
$slider-iconfont-family: $admin-iconfont-family;
$slider-direction-nav-prev-icon: $drowl-admin-ico-chevron-left;
$slider-direction-nav-next-icon: $drowl-admin-ico-chevron-right;

@import "./node_modules/drowl-sass-base/modules/drowl_layouts/preview_styles";

// Fancy background image preview (inside layout paragraphs)
.fancy-background-image {
  // Ensure the position base goes (back) to the .layout-paragraphs-item
  // Otherwise some absolute positioned UI-Elements will break.
  position: static !important;
  &__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -10px 10px -10px !important;
    padding: 1rem 0 !important;
    border-bottom: 1px solid var(--drowl-gray-medium, gray);

    .fancy-background-image__img-wrapper {
      // Show just a preview on top of the paragraph
      display: flex;
      justify-content: center;
      align-items: center;
      position: static !important;
      transform: none !important;
      border: 1px solid var(--drowl-gray-medium, gray);
      padding: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      width: 160px;
      height: 80px;
      margin-right: 1rem;
      .drowl-admin-ico {
        font-size: 42px;
      }
    }
    .fancy-background-image__preview-info {
      font-size: small;
      color: var(--colorGinTextLight);
      :last-child {
        margin-bottom: 0;
      }
    }
  }
}

.paragraph--view-mode--preview {
  // Hide contextual links from paragraph previews
  // (they dont work at all, because their click-events
  // are disabled by layout builder)
  .contextual {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none;
  }
}
